<!-- Image and text -->
<nav class="navbar navbar-expand-lg bg-body-tertiary site-navbar">
  <div class="container-fluid site-navbar-inner">

    <a class="navbar-brand public-brand" href="./index.html">
        <svg height="80" width="80" xmlns="http://www.w3.org/2000/svg">    
        <image height="100" width="80" href="./assets/img/logo.png" />
        </svg>
      <span>
        <strong>Frutas y Verduras</strong>
      <small>Oxkutzcab</small>
      </span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNavigation" aria-controls="siteNavigation" aria-expanded="false" aria-label="Abrir navegación">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="siteNavigation">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="./index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./index.html#productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./index.html#pie">Datos de Contacto</a>
      </li>
    </ul>
    </div>

  </div>
</nav>
